<div class="page_header">
  <h1>Services</h1>
</div>
<div class="page_content">
  <div class="grid-container">
    <%  @services.each do |s| %>
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_service_path(s.id)  %>
      <% end %>
      <h3 class="service_left"> <%= s.name %></h3>
      <h3 class="service_right"> <%= s.price %></h3>
    <% end %>
  </div>
</div>
