<div class="page_header">
  <h1>Meet Melissa</h1>
</div>
<div class="page_content">
  <%  @contacts.each do |c| %>
    <img class="picture" <%= image_tag(c.picture.url) %>
    <h3> <%= c.bio %></h3>
  <% end %>
</div>
