<div class="page_header">
  <h1>Melissa's Blog</h1>
</div>
<div class="page_content">
  <%  @posts.each do |p| %>
    <div class="blog_post">
      <h2> <%= p.created_at.strftime("%B %d, %Y")  %></h2>
      <img class="picture" <%= image_tag(p.picture.url) %>
      <div class="blog_body">
        <h3> <%= p.body %></h3>
      </div>
    </div>
    <br>
    <br>
    <br>
  <% end %>
</div>
<div class="apple_pagination">
  <%= will_paginate @posts %>
</div>
