@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  background: #d9e6f2;
}

.top_menu {
  background: #daf1e7;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  height: 65px;
}

.header_links {
  text-decoration: none;
  color: #4073A2;
  font-size: 25px;
  font-family: 'Satisfy', cursive;
}

.logo-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  padding-top: 30px;
  border-radius: 25%;
}
